.container  {
  display:flex;
  align-items:center;
  justify-content:center;
  width: 100%;
  height: 100vh;
}

.todoBlock {
  width:600px;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.title h1{
  padding: 20px 0;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.todoData-wrap {
  &:has(*) {
    margin: 12px 0;
  }
}
.input-checkbox {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-bottom:14px;
  border-bottom: 1px dotted #eee;
}
.input-checkbox + .input-checkbox {
  margin-top:14px;
}
.input-checkbox:last-of-type {
  padding-bottom:0;
  border-bottom: none;
}

.input-checkbox .label-txt {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.5px;
}
.input-checkbox label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    cursor: pointer;
}
.input-checkbox input {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-right: 4px;
    font-size: 0;
}

.input-checkbox input:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #eeeeee;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 0;
    vertical-align: middle;
    background-image: url(src/assets/ico-input-checkbox-xs.svg);
    transition: background-color 0.1s cubic-bezier(0.33, 1, 0.68, 1);
}

.input-checkbox input:checked:before {
    background-color: #000000;
}


.input-container {
  display:flex;
  justify-content:space-between;
  align-items:center;
  column-gap: 8px;
  height:26px;
  padding-top: 20px;
}
.input-container .btn-input {
  min-width:68px;
  height:26px;
  background-color: #000000;
  color:#fff;
  font-size: 10px;
  outline: none;
  border-radius: 2px;
}
.input-box {
  position:relative;
  flex:1;
  height: 26px;
  border: 1px solid #eee;
  border-radius: 2px;
  overflow: hidden;
}
.input-box input[type="text"] {
  display: block;
  width: 100%;
  height: 100%;
  padding:4px 8px;
  border: none;
  font-size: 10px;
  font-weight: 400;
}
.input-box .btn-close {
  display:block;
  position:absolute;
  right:10px;
  top:50%;
  transform: translateY(-50%);
}
